<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Devel without a Cause</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Personal blog about software, web
        tech, programming langauges, game design, and whatever else I feel
        unqualified to discuss.">
    </head>
    <body>
        <header>
            <h1>Devel without a Cause</h1>

            <summary>
                <p>
                    This is my personal blog, where I rant, rave, complain, and
                    exclaim about everything that no one asked my opinion of.
                </p>

                <p>
                    I mostly post about software development, of the frontend
                    web variety in particular, but I will talk about anything I
                    am interested in. This ranges from programming languages, to
                    game design, to hot takes about the latest JavaScript
                    framework.
                </p>

                <p>
                    Send your thoughts, feedback, praise, and (well-reasoned)
                    rants to <a href="{{ author.twit }}">develwoutacause@</a>.
                </p>
            </summary>
        </header>

        <main>
            <h2>Posts</h2>

            <!-- List of posts most-recent first. -->
            <ol>
                {%
                    assign sorted_posts = collections.posts
                        | sort: (post) => post.date
                        | reverse
                %}

                {% for post in sorted_posts %}
                    <li>
                        <h3>
                            <a href="{{ post.url }}">{{ post.data.title }}</a>
                        </h3>
                        <p>
                            <time>{{ post.date | date: "%b %e %Y" }}</time>
                            - {{ post.data.excerpt }}
                        </p>
                    </li>
                {% endfor %}
            </ol>
        </main>

        <footer>
            <p>Failed to scare you away? Try one of these links:</p>
            <p>
                Follow me on Twitter:
                <a href="{{ author.twit }}">develwoutacause@</a>
            </p>
            <p>
                Check out my GitHub profile:
                <a href="{{ author.github }}">dgp1130</a>
            </p>
            <p>
                Fix a typo or help me write more gooder:
                <a href="{{ author.blog_source }}/www/index.liquid">
                    dgp1130/blog
                </a>
            </p>
        </footer>
    </body>
</html>
